body {
	padding-top:60px;
	padding-bottom:40px
}
@media (max-width: 979px) {
	body {
		padding-top: 0px;
	}
}

/* Hides */
.hideAbove980 {
	display: none;
}
.hideBelow980 {
	display: inline-block;
}
@media (max-width:979px) {
	#topOfConnectedMenu {
		border-top: 1px solid black;
		border-bottom: 1px solid black;
	}
	.hideAbove980 {
		display: block;
	}
	.hideBelow980 {
		display: none;
	}
}

/* Liens */
a {
	text-decoration: none;
}
a:link {
	color: #3f6fff;
}
a:hover {
	color: #7f9fff;
}
a:visited {
	color: #7f7f7f;
}
a:hover:visited {
	color: #afafaf;
}

/* Tags */
span.tag {
	color: #3f3f3f;
	background-color: #c6e8ea;
	padding: 1px 5px 1px 5px;
	margin: 1px;
	border: 1px solid #bad3d4;
	display: inline-block;
}
span:hover.tag {
	background-color: #d7f1f1;
}

.fixedMaxWidth {
	min-width: 100%;
	max-width: 100%;
}

#connect-form {
	padding:2px 8px 2px 8px;
}
#logo {
	height:30px;
	margin:-7px -5px -7px 10px;
}
#edito {
	padding: 10px 20px 10px 20px;
}
#edito>h3 {
	border-bottom: 2px solid #afafaf;
}

/* Blocs */
.mainpage {
}
.block {
	background: #c5dbff;
	border-radius: 3px;
	box-shadow: 0 0 5px #9cc0ff inset;
}
.block p {
	margin: 5px;
}
.greyblock {
	background: #dfdfdf;
	border-radius: 3px;
	box-shadow: 0 0 5px #afafaf inset;
}
.greyblock p {
	margin: 5px;
}
.greyblock hr {
	border-color: #afafaf;
}
.container article {
	margin: 5px;
	border-radius: 3px;
}
.article-title strong {
	margin-left: 10px;
	color: #000000;
}
.article-header {
	background: #dfdfdf;
	padding: 3px 10px 0px 10px;
	border-radius: 3px;
}
.article-header .btn {
	width: 8px;
	height: 6px;
	padding: 4px 4px 8px 4px;
}
.article-header .pull-left small {
	margin-right: 10px;
}
.article-body {
	background: #ffffff;
	padding: 0 5px 0 5px;
}

.monthlist {
	margin-left: 10%;
}
/* Liens menu */
.menu-lateral>li>a:link, .menu-lateral>li>a:visited {
	color: #000000;
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
}
.menu-lateral>li>a:hover, .menu-lateral>li>a:hover:visited {
	color: #ffffff;
	/*background-color: #d7e1ff;*/
	background-color: transparent;
	border-radius: 3px;
}
.menu-lateral>li>a.active {
	color: #20407f;
	background-color: #a5cbff;
	box-shadow: 0 0 6px #7db7ff inset;
	border-radius: 3px;
}
.nav-header {
	font-size: 0.9em;
	padding-top: 5px;
}
.menu-lateral>hr, .block>hr {
	border-color: #95c2ff;
}
/* News lists */
.newslist {
	max-height: 450px;
	overflow-y: auto;
	margin-bottom: 30px;
}
.newslisttitle {
	text-align: center;
	font-weight: bold;
	font-size: 1.1em;
}
.newslist .newsitem {
	margin: 5px 5px 5px 5px;
}
.newslist .newsitem .newsitemhead {
	margin-top: 5px;
	margin-bottom: -5px;
}
.newslist .newsitem .newsitemhead .newsitemtitle {
	font-size: 1em;
	font-weight: bold;
}
.newslist .newsitem .newsitemhead .newsitemauthor {
	font-size: 0.9em;
	font-style: italic;
}
.newslist .newsitem .newsitemcontent {
	margin-bottom: 5px;
	background: #dde7ff;
}
